<%= custom_form_for @app.blueprint.rake_tasks,
      url: app_blueprint_rake_tasks_path(app_id: @app.name) do |f| %>
<table class="table">
  <tr><th>Action</th><th class='text-center'>Always run</th><th width="1"></th></tr>
  <%= f.simple_fields_for :rake_tasks do |ff| %>
  <tr>
    <%= ff.input :action, required: true, wrapper: :form_table_cell_input %>
    <%= ff.input :always_run, as: :boolean, wrapper: :form_table_cell_input, wrapper_html: { class: 'text-center' } %>
    <td>
      <div class='clearfix'>
      <%= link_to icon('fa-trash-o'),
      app_blueprint_rake_tasks_rake_task_path(app_id: @app.name, id: ff.index), method: :delete, remote: true, class: 'btn btn-default pull-right', data: {confirm: "Are you sure that you want to delete this rake task?"} %>
      </div>
    </td>
  </tr>
  <% end %>
</table>
<% end %>
<div class='clearfix'>
  <%= link_to icon_text('fa-plus', 'New rake task'),
      new_app_blueprint_rake_tasks_path(app_id: @app.name),
      remote: true, class: 'btn btn-default pull-right' %>
</div>
