<%= custom_form_for @app.blueprint.actionators,
      url: app_blueprint_actionator_path(app_id: @app.name) do |f| %>
  <%= f.simple_fields_for :actionators do |ff| %>
    <legend>Actionator <%= ff.index + 1 %></legend>
    <%= ff.input :name, required: true %>
    <%= ff.input :label %>
    <%= ff.input :description, as: :markdown %>
    <%= ff.input :return_type, as: :select, collection: ff.object.return_type_collection, include_blank: false %>
    <%= ff.input :return_file_name %>
    <%= ff.input :enable_logging, as: :boolean, wrapper: :horizontal_boolean %>
    <div class="form-section-heading">Variables</div>
    <%= ff.simple_fields_for :variables do |fff| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <legend>Actionator <%= ff.index + 1 %> variable <%= ff.index + 1 %></legend>
          <%= fff.input :name, required: true %>
          <%= fff.input :value %>
          <div class="form-section-heading">Input</div>
          <%= fff.simple_fields_for :input do |ffff| %>
            <%= ffff.input :type, as: :select, collection: ffff.object.type_collection, include_blank: false %>
            <%= ffff.input :label %>
            <%= ffff.input :title %>
            <%= ffff.input :comment %>
            <%= ffff.input :hint %>
            <%= ffff.input :placeholder %>
            <div class="form-section-heading">Collection</div>
            <%= ffff.simple_fields_for :collection do |fffff| %>
              <%= fffff.input :include_blank, required: false, as: :boolean, wrapper: :horizontal_boolean %>
              <table class="table">
                <tr><th>Value</th><th>Label</th><th width="1"></th></tr>
                <%= fffff.simple_fields_for :items do |ffffff| %>
                <tr>
                  <%= ffffff.input :value, required: true, wrapper: :table_cell_input %>
                  <%= ffffff.input :label, required: true, wrapper: :table_cell_input %>
                  <td>
                    <div class='clearfix'>
                    <%= link_to icon('fa-trash-o'),
                      app_blueprint_actionator_variable_input_collection_item_path(app_id: @app.name, actionator_id: ff.index, variable_id: fff.index, id: ffffff.index),
                      method: :delete, remote: true,
                      class: 'btn btn-default pull-right',
                      data: {confirm: "Are you sure that you want to delete this actionator variable collection item?"} %>
                    </div>
                  </td>
                </tr>
                <% end %>
              </table>
              <div class='clearfix'>
                <%= link_to icon_text('fa-plus', 'New actionator variable collection item'),
                  new_app_blueprint_actionator_variable_input_collection_item_path(app_id: @app.name, actionator_id: ff.index, variable_id: fff.index), remote: true, class: 'btn btn-default pull-right' %>
              </div>
            <% end %>
            <div class="form-section-heading">Validation</div>
            <%= ffff.simple_fields_for :validation do |fffff| %>
              <%= fffff.input :required, as: :boolean, wrapper: :horizontal_boolean %>
              <%= fffff.input :pattern, required: false %>
              <%= fffff.input :message, required: false %>
            <% end %>
          <% end %>
          <br>
          <div class='clearfix'>
            <%= link_to icon_text('fa-trash-o', "Delete actionator #{fff.index + 1} variable #{fff.index + 1}" ), app_blueprint_actionator_variable_path(app_id: @app.name, actionator_id: ff.index, id: fff.index), method: :delete, remote: true, class: 'btn btn-default pull-right', data: {confirm: "Are you sure that you want to delete this variable?"} %>
          </div>
        </div>
      </div>
    <% end %>
    <div class='clearfix'>
      <%= link_to icon_text('fa-plus', 'New variable'),
          new_app_blueprint_actionator_variable_path(app_id: @app.name, actionator_id: ff.index),
          remote: true, class: 'btn btn-default pull-right' %>
    </div>
    <div class="form-section-heading">Script</div>
    <%= ff.simple_fields_for :script do |fff| %>
      <%= fff.input :language, as: :select, input_html: {class: 'ace-editor-language-select'}, collection: f.object.script_language_collection, include_blank: false, required: false %>
      <%= fff.input :content, as: :code, required: false, input_html: { data: { mode: fff.object.send(:language) } }  %>
    <% end %>
    <br>
    <div class='clearfix'>
      <%= link_to icon_text('fa-trash-o', "Delete actionator #{ff.index + 1}" ), app_blueprint_actionator_path(app_id: @app.name, id: ff.index), method: :delete, remote: true, class: 'btn btn-default pull-right', data: {confirm: "Are you sure that you want to delete this actionator?"} %>
    </div>
    <hr>
  <% end %>
<% end %>
<div class='clearfix'>
  <%= link_to icon_text('fa-plus', 'New actionator'), new_app_blueprint_actionator_path(app_id: @app.name), remote: true, class: 'btn btn-default pull-right' %>
</div>
