<div class="col-sm-3 page-main-col">
    <nav id="sidebar_nav" class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle btn btn-default" data-toggle="collapse" data-target="#sidebar_nav .navbar-collapse">
              <span class="nav_menu_text">{}</span>
              <%= icon('fa-caret-down') %>
            </button>
        </div>

        <div class="collapse navbar-collapse">
            <ul id="blueprint_navigation" class='nav nav-pills nav-stacked'>
              <%= render 'blueprint_navigation', app: @app %>
            </ul>
        </div>
    </nav>

</div>

<div class='col-sm-9 page-main-col'>

  <div id='engine_blueprint_section_json' class='engine_blueprint_section'>
    <%= render 'apps/blueprints/jsons/show' %>
  </div>
  <div id='engine_blueprint_section_metadata' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/metadata/section' %>
  </div>
  <div id='engine_blueprint_section_base' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/bases/section' %>
  </div>
  <div id='engine_blueprint_section_ports' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/ports/section' %>
  </div>
  <div id='engine_blueprint_section_scripts' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/scripts/section' %>
  </div>
  <div id='engine_blueprint_section_external_repositories' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/external_repositories/section' %>
  </div>
  <div id='engine_blueprint_section_system_packages' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/system_packages/section' %>
  </div>
  <div id='engine_blueprint_section_installed_packages' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/installed_packages/section' %>
  </div>
  <div id='engine_blueprint_section_required_modules' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/required_modules/section' %>
  </div>
  <div id='engine_blueprint_section_service_configurations' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/service_configurations/section' %>
  </div>
  <div id='engine_blueprint_section_environment_variables' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/environment_variables/section' %>
  </div>
  <div id='engine_blueprint_section_template_files' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/template_files/section' %>
  </div>
  <div id='engine_blueprint_section_replacement_strings' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/replacement_strings/section' %>
  </div>
  <div id='engine_blueprint_section_database_seed' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/database_seed/section' %>
  </div>
  <div id='engine_blueprint_section_file_write_permissions' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/file_write_permissions/section' %>
  </div>
  <div id='engine_blueprint_section_persistent_directories' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/persistent_directories/section' %>
  </div>
  <div id='engine_blueprint_section_persistent_files' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/persistent_files/section' %>
  </div>
  <div id='engine_blueprint_section_components' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/components/section' %>
  </div>
  <div id='engine_blueprint_section_workers' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/workers/section' %>
  </div>
  <div id='engine_blueprint_section_actionators' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/actionators/section' %>
  </div>
  <div id='engine_blueprint_section_schedules' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/schedules/section' %>
  </div>
  <div id='engine_blueprint_section_rake_tasks' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/rake_tasks/section' %>
  </div>
  <div id='engine_blueprint_section_custom_php_inis' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/custom_php_inis/section' %>
  </div>
  <div id='engine_blueprint_section_apache_htaccess_files' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/apache_htaccess_files/section' %>
  </div>
  <div id='engine_blueprint_section_apache_httpd_configurations' class='engine_blueprint_section' style='display: none;'>
    <%= render 'apps/blueprints/apache_httpd_configurations/section' %>
  </div>

</div>
