<h4>New app</h4>
<%= simple_form_for @app_builder,
      url: apps_path,
      # method: :post,
      html: { class: 'form-horizontal' },
      wrapper: :horizontal_form do |f| %>
      <p>URL to remote Git repository. The repository must be accessible via
         HTTPS and SSH. Ensure the SSH pubic key for this application
         (see <%= link_to icon_text('fa-cog', :Settings), settings_path %>) has been loaded into the repository.</p>
      <%= f.input :url, as: :url, label: "Remote URL", required: true, hint: "Should start with 'ssh://' or 'https://'." %>


<%= link_to icon_text('fa-times', :Cancel), apps_path, class: 'btn btn-warning' %>

<%= f.button :button, class: "btn btn-primary pull-right", data: { disable_with: 'Cloning...' } do %>
  <%= icon_text 'fa-check', :Clone  %>
<% end %>
<% end %>
