<%= link_to icon('fa-arrow-up'), apps_path(), class: 'btn pull-right' %>
<%= link_to icon('fa-git-square'), app_repository_path(app_id: @app.name), class: 'btn pull-right' %>
<%= render 'show_menu' %>
<div class='app-show-page'>
  <h4>
    <%= @app.name %>
  </h4>
  <div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#app-blueprint-tab" data-toggle="tab">Blueprint</a></li>
      <li><a href="#app-readme-tab" data-toggle="tab">Readme</a></li>
      <li><a href="#app-release_notes-tab" data-toggle="tab">Release notes</a></li>
      <li><a href="#app-license-tab" data-toggle="tab">License</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="app-blueprint-tab">
        <div id="app_blueprint">
          <%= render 'blueprint' %>
        </div>
      </div>
      <div class="tab-pane" id="app-readme-tab">
        <div id="app_readme">
          <%= render 'readme' %>
        </div>
      </div>
      <div class="tab-pane" id="app-release_notes-tab">
        <div id="app_release_notes">
          <%= render 'release_notes' %>
        </div>
      </div>
      <div class="tab-pane" id="app-license-tab">
        <div id="app_license">
          <%= render 'license' %>
        </div>
      </div>
    </div>
  </div>
</div>
