<h4>Edit <%= resource_name.to_s.humanize %></h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <%= content_tag(:div, style: 'height: 0px; overflow: hidden;') do
    text_field_tag(:fake_input, nil, class: "do_not_autosubmit_form_on_change") +
    password_field_tag(:fake_input, nil, class: "do_not_autosubmit_form_on_change")
  end %>

  <%= devise_error_messages! %>

  <div class="devise-form col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <legend>Recovery email</legend>
    <p>If you forget your password, reset instruction will be sent to this email address.</p>
    <div class="form-group form-group-wide-bottom-margin">
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <legend>Change password</legend>
    <p>Leave blank if you don't want to change it.</p>
    <div class="form-group form-group-wide-bottom-margin">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
    <div class="form-group form-group-wide-bottom-margin">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <hr>

    <legend>Current password</legend>
    <div class="form-group form-group-wide-bottom-margin">
      <p>Enter your current password to allow your changes to be saved.</p>
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="actions">
      <%= link_to icon_text('fa-times', "Cancel"), settings_path(), class: 'btn btn-warning' %>
      <%= button_tag type: :submit, class: 'btn btn-primary pull-right' do %><%= icon_text('fa-check', "Update") %><% end %>
    </div>

  </div>

<% end %>
