<%= link_to icon('fa-arrow-up'), app_path(id: @app.name), class: 'btn pull-right' %>
<h4>
  <%= @app.name %> repository
</h4>
<legend>Status</legend>
<div class='col-sm-12'>
  <pre><%= @app.repository.status %></pre>
  <p class="clearfix">
    <%= button_tag icon_text('fa-file-o', :Log),
          class: "btn btn-custom pull-right",
          data: { toggle: "collapse",
                  target: "#repositoryGitLog" } %>
  </p>
  <div class="collapse" id="repositoryGitLog">
    <pre><%= @app.repository.log %></pre>
  </div>
  <br>
</div>
<legend>Commit</legend>
<% if @app.repository.uncommitted_diffs.present? %>
  <div class='col-sm-12 clearfix'>
    <p>Enter a message to commit.</p>
    <%= simple_form_for @app_commit,
          url: app_repository_commit_path(app_id: @app.name),
          # method: :post,
          html: { class: 'form-horizontal' },
          wrapper: :horizontal_form do |f| %>
      <%= f.input :message, as: :text, required: true %>
      <div class='btn-group pull-right'>
        <%= f.button :button, class: "btn btn-primary", name: :commit_type, value: :commit, data: { disable_with: 'Committing...' } do %>
          <%= icon_text 'fa-check', :Commit  %>
        <% end %>
        <%= f.button :button, class: "btn btn-info", name: :commit_type, value: :commit_and_push, data: { disable_with: '...' } do %>
          <%= icon_text 'fa-hand-paper-o', 'Commit and push'  %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class='col-sm-12'>
    <label>Uncommitted changes</label>
    <pre><%= @app.repository.uncommitted_diffs %></pre>
    <br>
  </div>
<% else %>
  <div class='col-sm-12'>
    <p>No changes to commit.</p>
    <br>
  </div>
<% end %>

<legend>Push</legend>
<% if @app.repository.committed_diffs.present? %>
  <div class='col-sm-12'>
    <%= link_to icon_text('fa-hand-paper-o', 'Push'), app_repository_push_path(app_id: @app.name), class: 'btn btn-primary pull-right', data: { disable_with: 'Pushing...' } %>
    <p>Click to push.</p>
  </div>
  <div class='col-sm-12'>
    <label>Committed changes</label>
    <pre><%= @app.repository.committed_diffs %></pre>
    <br>
  </div>
<% else %>
<div class='col-sm-12'>
  <p>No committed changes to push.</p>
  <br>
</div>
<% end %>

<legend>Remote</legend>
<div class='col-sm-12'>
  <%= link_to icon_text('fa-git', 'Open'), @app.repository.remote_web_url, target: @app.repository.remote_web_url, class: 'btn btn-default pull-right' %>
  <p><%= @app.repository.remote_web_url %></p>
</div>
