<%= custom_form_for @app.blueprint.components,
      namespace: "app_blueprint_components",
      url: app_blueprint_components_path(app_id: @app.name) do |f| %>
  <%= f.input :path %>
  <%= f.input :extract, as: :boolean, wrapper: :horizontal_boolean %>
<% end %>
<div class="form-section-heading">Sources</div>
<div id='engine_blueprint_section_components_sources'>
  <%= render 'apps/blueprints/components/sources' %>
</div>
<div class='clearfix'>
  <%= link_to icon_text('fa-plus', 'New component source'),
    new_app_blueprint_components_source_path(app_id: @app.name),
    remote: true, class: 'btn btn-custom pull-right' %>
</div>
