<% @app.blueprint.components.sources.each do |source| %>

  <div class="blueprint_item_collapse_area">
    <legend>
      <div class="dropdown pull-right">
        <a class="btn btn-custom" data-toggle="dropdown">
          <i class="fa fa-bars"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <%= link_to icon_text('fa-caret-up', 'Move up'),
              "#",
              title: 'Move up',
              id: "app_blueprint_components_source_#{source.index}_moveup_button_disabled", remote: true,
              class: "disabled_link",
              style: ( 'display:none;' unless source.disable_moveup ) %>
            <%= link_to icon_text('fa-caret-up', 'Move up'),
              app_blueprint_components_source_moveup_path(app_id: @app.name, source_id: source.index),
              title: 'Move up',
              id: "app_blueprint_components_source_#{source.index}_moveup_button", remote: true,
              class: "show_saving_spinner_on_click",
              style: ( 'display:none;' if source.disable_moveup ) %>
          </li>
          <li>
            <%= link_to icon_text('fa-trash-o', 'Delete'),
              app_blueprint_components_source_path(app_id: @app.name, id: source.index),
              method: :delete, remote: true,
              title: 'Delete',
              class: 'show_saving_spinner_on_confirmed',
              data: {confirm: "Are you sure that you want to delete this component source?"} %>
          </li>
        </ul>
      </div>
      <a class="blueprint_item_collapse" data-toggle="collapse" href="#app_blueprint_components_source_<%= source.index %>_form">
          Source <%= source.index + 1 %> -
          <span id="app_blueprint_components_source_<%= source.index %>_section_heading">
            <%= source.to_s %>
          </span>
      </a>
    </legend>

    <div class="collapse <%= 'in' if source.new_record %>" id="app_blueprint_components_source_<%= source.index %>_form">
      <%= custom_form_for source,
        namespace: "app_blueprint_components_source_#{source.index}",
        url: app_blueprint_components_source_path(app_id: @app.name, id: source.index) do |f| %>
        <%= f.input :label, required: true %>
        <%= f.input :url, label: :URL, as: :url, required: true %>
        <div class="form-section-heading">Install script</div>
        <%= f.simple_fields_for :install_script do |ff| %>
          <%= ff.input :language, as: :select,
                input_html: {class: 'ace-editor-language-select'},
                collection: f.object.script_language_collection,
                include_blank: false, required: false %>
          <%= ff.input :content, as: :code,
                input_html: { data: { mode: ff.object.send(:language) } },
                required: false  %>
        <% end %>
      <% end %>
      <hr>
    </div>
  </div>

<% end %>
