<%= custom_form_for @app.blueprint.installed_packages,
      url: app_blueprint_installed_packages_path(app_id: @app.name) do |f| %>
<%= f.simple_fields_for :installed_packages do |ff| %>
<legend>Installed package <%= ff.index + 1 %></legend>
<%= ff.input :name %>
<%= ff.input :source_url, as: :url %>
<%= ff.input :destination, hint: 'Relative to /home/app (defaults /home/app).' %>
<%= ff.input :extraction_command %>
<%= ff.input :path_to_extracted %>
<div class='clearfix'>
<%= link_to icon_text('fa-trash-o', "Delete installed package #{ff.index + 1}"), app_blueprint_installed_packages_installed_package_path(app_id: @app.name, id: ff.index), method: :delete, remote: true, class: 'btn btn-default pull-right', data: {confirm: "Are you sure that you want to delete this installed package?"} %>
</div>
<hr>
<% end %>
<% end %>
<div class='clearfix'>
  <%= link_to icon_text('fa-plus', 'New installed package'), new_app_blueprint_installed_packages_path(app_id: @app.name), remote: true, class: 'btn btn-default pull-right' %>
</div>
