<%= custom_form_for @app.blueprint.system_packages,
      url: app_blueprint_system_packages_path(app_id: @app.name) do |f| %>
<table class="table">
  <tr><th>Package</th><th>Version</th><th width="1"></th></tr>
  <%= f.simple_fields_for :system_packages do |ff| %>
  <tr>
    <%= ff.input :package, required: true, wrapper: :form_table_cell_input %>
    <%= ff.input :version, wrapper: :form_table_cell_input %>
    <td>
      <div class='clearfix'>
      <%= link_to icon('fa-trash-o'), app_blueprint_system_packages_system_package_path(app_id: @app.name, id: ff.index), method: :delete, remote: true, class: 'btn btn-default pull-right', data: {confirm: "Are you sure that you want to delete this system package?"} %>
      </div>
    </td>
  </tr>
  <% end %>
</table>
<% end %>
<div class='clearfix'>
  <%= link_to icon_text('fa-plus', 'New system package'),
      new_app_blueprint_system_packages_path(app_id: @app.name),
      remote: true, class: 'btn btn-default pull-right' %>
</div>
