<%= custom_form_for schedule,
      namespace: "schedule[#{schedule.index}]",
      url: service_blueprint_schedule_path(service_id: @service.name,
        id: schedule.index) do |f| %>
  <%= f.input :label, required: true %>
  <div class="form-section-heading">
    Timespec
  </div>
  <div class="clearfix schedule_timespec_cols">
    <div class="col-sm-2 col-sm-offset-2">
      <%= f.input :timespec_minute, label: 'Minute', pattern: "^[*\/0-9]*$", wrapper: :vertical_form,
          input_html: { pattern_validation_error_message: "* / 0-9 only" } %>
    </div>
    <div class="col-sm-2">
      <%= f.input :timespec_hour, label: 'Hour', pattern: "^[*\/0-9]*$", wrapper: :vertical_form,
          input_html: { pattern_validation_error_message: "* / 0-9 only" } %>
    </div>
    <div class="col-sm-2">
      <%= f.input :timespec_day_of_month, label: 'Day of month', pattern: "^[*\/0-9]*$", wrapper: :vertical_form,
          input_html: { pattern_validation_error_message: "* / 0-9 only" } %>
    </div>
    <div class="col-sm-2">
      <%= f.input :timespec_month, label: 'Month', pattern: "^[*\/0-9]*$", wrapper: :vertical_form,
          input_html: { pattern_validation_error_message: "* / 0-9 only" } %>
    </div>
    <div class="col-sm-2">
      <%= f.input :timespec_day_of_week, label: 'Day of week', pattern: "^[*\/0-9]*$", wrapper: :vertical_form,
          input_html: { pattern_validation_error_message: "* / 0-9 only" } %>
    </div>
  </div>
  <div class="form-section-heading">
    Instruction
  </div>
  <% if f.object.instruction != 'action' %>
    <%= f.input :instruction, label: '', as: :select, required: true, collection: schedule.instruction_collection %>
  <% else %>
    <%= f.input :instruction, label: "&nbsp;".html_safe, disabled: true, input_html: { value: f.object.instruction.humanize } %>
    <%= f.input :instruction, as: :hidden %>
    <% if f.object.actionator_name.blank? %>
      <%= f.input :actionator_name, label: 'Actionator', required: true, collection: schedule.actionator_names_collection %>
    <% else %>
      <% if f.object.blueprint_actionator.present? %>
        <%= f.input :actionator_name, label: 'Actionator', disabled: true %>
        <%= f.input :actionator_name, as: :hidden %>
        <% if f.object.blueprint_actionator_variables_mismatch %>
          <div class='col-sm-12 alert alert-danger error engine_blueprint_section_custom_error'>
            The parameters specified in this schedule do not match those for the actionator definition.<br>
            Reload parameters from actionator definitions to bring them into sync.
          </div>
        <% end %>
        <% if f.object.blueprint_actionator_has_variables || f.object.variables.any? %>
          <%= f.simple_fields_for :variables do |ff| %>
            <div>
              <div class="form-section-heading">
                <%= ff.object.send :name %>
              </div>
              <% if ff.object.variable_definition.present? %>
                <%= ff.input :name, as: :hidden %>
                <%= ff.input :value,
                        as: :string,
                        wrapper_html: { class: 'variable_value_input_wrapper' } %>
                <div class="dropdown pull-right">
                  <button class="btn btn-custom" type="button" data-toggle="dropdown">
                    Insert
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <% ff.object.resolve_strings_collection.each do |resolve_string| %>
                      <li><div class="btn btn-custom" onclick="copyResolveString(this)"><%= resolve_string %></div></li>
                    <% end %>
                  </ul>
                </div>
                <div class="clearfix">
                  <div class="btn btn-custom pull-right" data-toggle="collapse" data-target="#service_schedule_<%= schedule.index %>_input_definition_collapse_<%= ff.object.send(:name) %>"><%= icon_text('fa-info') %></div>
                </div>
                <div id="service_schedule_<%= schedule.index %>_input_definition_collapse_<%= ff.object.send(:name) %>" class="collapse">
                  <%= pretty_print ff.object.variable_definition %>
                </div>
              <% else %>
                <span class='error engine_blueprint_section_custom_error'>
                  <%= ff.input :name, as: :hidden %>
                  <%= ff.input :value, disabled: true %>
                  <div class="col-sm-12 alert alert-danger">
                    The actionator does not contain a variable for <%= ff.object.send(:name) %>.
                  </div>
                </span>
              <% end %>
            </div>
          <% end %>
          <br>
          <div class='clearfix'>
            <%= link_to icon_text('fa-refresh', 'Reload parameters from actionator definition'),
            new_service_blueprint_schedule_variables_path(service_id: @service.name,
                                                schedule_id: schedule.index),
              remote: true, class: 'btn btn-custom pull-right' %>
          </div>
        <% else %>
        <div class="col-sm-12 alert alert-info">
          No parameters to configure.
        </div>
        <% end %>
      <% else %>
        <div class='error engine_blueprint_section_custom_error'>
          <%= f.input :actionator_name, label: 'Actionator', disabled: true %>
          <%= f.input :actionator_name, as: :hidden %>
          <div class="col-sm-12 alert alert-danger">
            An actionator for <%= "#{f.object.actionator_name}" %> is not available in the blueprint.<br>
            Please add an actionator by this name, or delete the schedule.
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<hr>
