<div class="col-sm-3 page-main-col">
    <nav id="sidebar_nav" class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle btn btn-default" data-toggle="collapse" data-target="#sidebar_nav .navbar-collapse">
              <span class="nav_menu_text">{}</span>
              <%= icon('fa-caret-down') %>
            </button>
        </div>

        <div class="collapse navbar-collapse">
            <ul class='nav nav-pills nav-stacked'>
              <li id='engine_blueprint_section_json_pill' class='page_section_pill active'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("json")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  {}
                <% end %>
              </li>
              <li id='engine_blueprint_section_metadata_pill' class='page_section_pill'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("metadata")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  Metadata <%= content_tag :div, icon('fa-warning'), class: 'pull-right error pill_error', style: 'display: none;', id: "engine_blueprint_section_metadata_pill_error" %>
                <% end %>
              </li>
              <li id='engine_blueprint_section_base_pill' class='page_section_pill'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("base")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  Base <%= content_tag :div, icon('fa-warning'), class: 'pull-right error pill_error', style: 'display: none;', id: "engine_blueprint_section_base_pill_error" %>
                <% end %>
              </li>
              <li id='engine_blueprint_section_ports_pill' class='page_section_pill'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("ports")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  Ports <%= content_tag :div, icon('fa-warning'), class: 'pull-right error pill_error', style: 'display: none;', id: "engine_blueprint_section_ports_pill_error" %>
                <% end %>
              </li>
              <li id='engine_blueprint_section_scripts_pill' class='page_section_pill'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("scripts")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  Scripts <%= content_tag :div, icon('fa-warning'), class: 'pull-right error pill_error', style: 'display: none;', id: "engine_blueprint_section_scripts_pill_error" %>
                <% end %>
              </li>
              <li id='engine_blueprint_section_external_repositories_pill' class='page_section_pill'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("external_repositories")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  External repositories <%= content_tag :div, icon('fa-warning'), class: 'pull-right error pill_error', style: 'display: none;', id: "engine_blueprint_section_external_repositories_pill_error" %>
                <% end %>
              </li>
              <li id='engine_blueprint_section_system_packages_pill' class='page_section_pill'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("system_packages")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  System packages <%= content_tag :div, icon('fa-warning'), class: 'pull-right error pill_error', style: 'display: none;', id: "engine_blueprint_section_system_packages_pill_error" %>
                <% end %>
              </li>
              <li id='engine_blueprint_section_installed_packages_pill' class='page_section_pill'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("installed_packages")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  Installed packages <%= content_tag :div, icon('fa-warning'), class: 'pull-right error pill_error', style: 'display: none;', id: "engine_blueprint_section_installed_packages_pill_error" %>
                <% end %>
              </li>
              <li id='engine_blueprint_section_required_modules_pill' class='page_section_pill'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("required_modules")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  Required modules <%= content_tag :div, icon('fa-warning'), class: 'pull-right error pill_error', style: 'display: none;', id: "engine_blueprint_section_required_modules_pill_error" %>
                <% end %>
              </li>
              <li id='engine_blueprint_section_service_configurations_pill' class='page_section_pill'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("service_configurations")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  Service configurations <%= content_tag :div, icon('fa-warning'), class: 'pull-right error pill_error', style: 'display: none;', id: "engine_blueprint_section_service_configurations_pill_error" %>
                <% end %>
              </li>
              <li id='engine_blueprint_section_environment_variables_pill' class='page_section_pill'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("environment_variables")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  Environment variables <%= content_tag :div, icon('fa-warning'), class: 'pull-right error pill_error', style: 'display: none;', id: "engine_blueprint_section_environment_variables_pill_error" %>
                <% end %>
              </li>
              <li id='engine_blueprint_section_constants_pill' class='page_section_pill'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("constants")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  Constants <%= content_tag :div, icon('fa-warning'), class: 'pull-right error pill_error', style: 'display: none;', id: "engine_blueprint_section_constants_pill_error" %>
                <% end %>
              </li>
              <li id='engine_blueprint_section_target_environment_variables_pill' class='page_section_pill'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("target_environment_variables")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  Target environment variables <%= content_tag :div, icon('fa-warning'), class: 'pull-right error pill_error', style: 'display: none;', id: "engine_blueprint_section_target_environment_variables_pill_error" %>
                <% end %>
              </li>
              <li id='engine_blueprint_section_environment_variables_pill' class='page_section_pill'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("environment_variables")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  Environment variables <%= content_tag :div, icon('fa-warning'), class: 'pull-right error pill_error', style: 'display: none;', id: "engine_blueprint_section_environment_variables_pill_error" %>
                <% end %>
              </li>
              <li id='engine_blueprint_section_template_files_pill' class='page_section_pill'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("template_files")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  Template files <%= content_tag :div, icon('fa-warning'), class: 'pull-right error pill_error', style: 'display: none;', id: "engine_blueprint_section_template_files_pill_error" %>
                <% end %>
              </li>
              <li id='engine_blueprint_section_replacement_strings_pill' class='page_section_pill'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("replacement_strings")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  Replacement strings <%= content_tag :div, icon('fa-warning'), class: 'pull-right error pill_error', style: 'display: none;', id: "engine_blueprint_section_replacement_strings_pill_error" %>
                <% end %>
              </li>
              <li id='engine_blueprint_section_persistent_directories_pill' class='page_section_pill'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("persistent_directories")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  Persistent directories <%= content_tag :div, icon('fa-warning'), class: 'pull-right error pill_error', style: 'display: none;', id: "engine_blueprint_section_persistent_directories_pill_error" %>
                <% end %>
              </li>
              <li id='engine_blueprint_section_consumer_params_pill' class='page_section_pill'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("consumer_params")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  Consumer params <%= content_tag :div, icon('fa-warning'), class: 'pull-right error pill_error', style: 'display: none;', id: "engine_blueprint_section_consumer_params_pill_error" %>
                <% end %>
              </li>
              <li id='engine_blueprint_section_actionators_pill' class='page_section_pill'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("actionators")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  Actionators <%= content_tag :div, icon('fa-warning'), class: 'pull-right error pill_error', style: 'display: none;', id: "engine_blueprint_section_actionators_pill_error" %>
                <% end %>
              </li>
              <li id='engine_blueprint_section_configurators_pill' class='page_section_pill'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("configurators")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  Configurators <%= content_tag :div, icon('fa-warning'), class: 'pull-right error pill_error', style: 'display: none;', id: "engine_blueprint_section_configurators_pill_error" %>
                <% end %>
              </li>
              <li id='engine_blueprint_section_schedules_pill' class='page_section_pill'>
                <%= content_tag :a, class: 'clearfix', onclick: 'display_blueprint_section("schedules")', data:{ toggle: "collapse", target: "#sidebar_nav .navbar-collapse.in" } do %>
                  Schedules <%= content_tag :div, icon('fa-warning'), class: 'pull-right error pill_error', style: 'display: none;', id: "engine_blueprint_section_schedules_pill_error" %>
                <% end %>
              </li>
            </ul>

        </div>
    </nav>

</div>

<div class='col-sm-9 page-main-col'>

  <div id='engine_blueprint_section_json' class='engine_blueprint_section'>
    <%= render 'services/blueprints/jsons/show' %>
  </div>
  <div id='engine_blueprint_section_metadata' class='engine_blueprint_section' style='display: none;'>
    <%= render 'services/blueprints/metadata/section' %>
  </div>
  <div id='engine_blueprint_section_base' class='engine_blueprint_section' style='display: none;'>
    <%= render 'services/blueprints/bases/section' %>
  </div>
  <div id='engine_blueprint_section_ports' class='engine_blueprint_section' style='display: none;'>
    <%= render 'services/blueprints/ports/section' %>
  </div>
  <div id='engine_blueprint_section_scripts' class='engine_blueprint_section' style='display: none;'>
    <%= render 'services/blueprints/scripts/section' %>
  </div>
  <div id='engine_blueprint_section_external_repositories' class='engine_blueprint_section' style='display: none;'>
    <%= render 'services/blueprints/external_repositories/section' %>
  </div>
  <div id='engine_blueprint_section_system_packages' class='engine_blueprint_section' style='display: none;'>
    <%= render 'services/blueprints/system_packages/section' %>
  </div>
  <div id='engine_blueprint_section_installed_packages' class='engine_blueprint_section' style='display: none;'>
    <%= render 'services/blueprints/installed_packages/section' %>
  </div>
  <div id='engine_blueprint_section_required_modules' class='engine_blueprint_section' style='display: none;'>
    <%= render 'services/blueprints/required_modules/section' %>
  </div>
  <div id='engine_blueprint_section_service_configurations' class='engine_blueprint_section' style='display: none;'>
    <%= render 'services/blueprints/service_configurations/section' %>
  </div>
  <div id='engine_blueprint_section_environment_variables' class='engine_blueprint_section' style='display: none;'>
    <%= render 'services/blueprints/environment_variables/section' %>
  </div>
  <div id='engine_blueprint_section_constants' class='engine_blueprint_section' style='display: none;'>
    <%= render 'services/blueprints/constants/section' %>
  </div>
  <div id='engine_blueprint_section_target_environment_variables' class='engine_blueprint_section' style='display: none;'>
    <%= render 'services/blueprints/target_environment_variables/section' %>
  </div>
  <div id='engine_blueprint_section_template_files' class='engine_blueprint_section' style='display: none;'>
    <%= render 'services/blueprints/template_files/section' %>
  </div>
  <div id='engine_blueprint_section_replacement_strings' class='engine_blueprint_section' style='display: none;'>
    <%= render 'services/blueprints/replacement_strings/section' %>
  </div>
  <div id='engine_blueprint_section_persistent_directories' class='engine_blueprint_section' style='display: none;'>
    <%= render 'services/blueprints/persistent_directories/section' %>
  </div>
  <div id='engine_blueprint_section_actionators' class='engine_blueprint_section' style='display: none;'>
    <%= render 'services/blueprints/actionators/section' %>
  </div>
  <div id='engine_blueprint_section_consumer_params' class='engine_blueprint_section' style='display: none;'>
    <%= render 'services/blueprints/consumer_params/section' %>
  </div>
  <div id='engine_blueprint_section_configurators' class='engine_blueprint_section' style='display: none;'>
    <%= render 'services/blueprints/configurators/section' %>
  </div>
  <div id='engine_blueprint_section_schedules' class='engine_blueprint_section' style='display: none;'>
    <%= render 'services/blueprints/schedules/section' %>
  </div>

</div>
