<h4>New service</h4>
<%= simple_form_for @service_builder,
      url: services_path,
      # method: :post,
      html: { class: 'form-horizontal' },
      wrapper: :horizontal_form do |f| %>
      <p>URL to remote Git repository. The repository must be accessible via SSH. Ensure the SSH pubic key for this service
         (see <%= link_to icon_text('fa-cog', :Settings), settings_path %>) has been loaded into the repository.</p>
      <%= f.input :url, as: :string, label: "Remote URL", required: true %>

<%= link_to icon_text('fa-times', :Cancel), services_path, class: 'btn btn-warning' %>

<%= f.button :button, class: "btn btn-primary pull-right", data: { disable_with: 'Cloning...' } do %>
  <%= icon_text 'fa-check', :Clone  %>
<% end %>
<% end %>
