<%= custom_form_for @service.blueprint.base,
      url: service_blueprint_base_path(service_id: @service.name) do |f| %>
<%= f.input :name, required: true, pattern: "^[a-z0-9_]*$", maxlength: 16, hint: "Valid characters are lowercase alpha-numeric and underscore. Maximum length 16 characters." %>
<%= f.input :publisher_namespace, as: :string, label: 'Namespace' %>
<%= f.input :type_path %>
<%= f.input :service_handle_field %>
<div class="form-section-heading">Deployment</div>
<%= f.input :parent_image %>
<%= f.input :deployment_type, as: :select, required: true, collection: f.object.types_collection, wrapper_html: { class: 'blueprint_deployment_type_select_wrapper' } %>
<div class='blueprint_deployment_type_select_dependent_fields'>
  <%= f.input :http_protocol, as: :select, required: true, collection: f.object.http_protocol_collection, label: 'HTTP protocol' %>
</div>
<%= f.input :hostname %>
<%= f.input :domain_name %>
<%= f.input :set_state, as: :select, collection: [ "running", "stopped", "nocontainer" ] %>
<%= f.input :default_stop_timeout, as: :integer %>
<div class="form-section-heading">Memory</div>
<%= f.input :memory_required, as: :integer, label: 'Required MB' %>
<%= f.input :memory_recommended, as: :integer, label: 'Recommended MB' %>
<div class="form-section-heading">User</div>
<%= f.input :run_as_user, label: "Run as" %>
<%= f.input :user_id, label: "User ID" %>
<%= f.input :user_primary_group, label: "Primary group" %>
<%= f.input :create_user, as: :boolean, wrapper: :horizontal_boolean %>
<% end %>
