<%= custom_form_for @service.blueprint.base,
      url: service_blueprint_base_path(service_id: @service.name) do |f| %>
<%= f.input :name, required: true, pattern: "^[a-z0-9_]*$", maxlength: 16, hint: "Valid characters are lowercase alpha-numeric and underscore. Maximum length 16 characters." %>
<%= f.input :publisher_namespace, as: :string, label: 'Namespace' %>
<%= f.input :type_path, as: :string %>
<%= f.input :service_handle_field, as: :string, label: 'Handle field' %>
<div class="form-section-heading">Deployment</div>
<%= f.input :parent_image %>
<%= f.input :run_as_user %>
<%= f.input :deployment_type, as: :select, required: true, collection: f.object.types_collection, wrapper_html: { class: 'blueprint_deployment_type_select_wrapper' } %>
<div class='blueprint_deployment_type_select_dependent_fields'>
  <%= f.input :http_protocol, as: :select, required: true, collection: f.object.http_protocol_collection, label: 'HTTP protocol' %>
</div>
<div class="form-section-heading">Memory</div>
<%= f.input :memory_required, as: :integer, label: 'Required MB' %>
<%= f.input :memory_recommended, as: :integer, label: 'Recommended MB' %>
<div class="form-section-heading">Behavior</div>
<div class="col-md-9 col-md-offset-3">
  <%= f.input :dedicated, as: :boolean %>
  <%= f.input :persistent, as: :boolean %>
  <%= f.input :immutable, as: :boolean %>
  <%= f.input :attach_post_build, as: :boolean %>
  <%= f.input :attach_requires_restart, as: :boolean %>
  <%= f.input :soft_service, as: :boolean %>
</div>
<% end %>
<div class="form-section-heading">Accepts</div>
<div id='engine_blueprint_section_base_accepts'>
  <%= render 'services/blueprints/bases/accepts' %>
</div>
