<% @app.blueprint.schedules.each_with_id do |schedule, schedule_id| %>
  <%= custom_form_for schedule,
        url: app_blueprint_schedules_path(app_id: @app.name,
          id: schedule_id) do |f| %>
    <legend>Schedule <%= schedule_id + 1 %></legend>
    <%= f.input :instruction, as: :select, collection: @app.schedules.instruction_collection %>

    <div class='clearfix'>
      <%= link_to icon_text('fa-trash-o',
        "Delete schedule #{schedule_id + 1}"),
        app_blueprint_schedules_path(app_id: @app.name,
                                            id: schedule_id),
        method: :delete, remote: true, class: 'btn btn-default pull-right',
        data: { confirm:
          "Are you sure that you want to delete this schedule?"} %>
    </div>
    <hr>
  <% end %>
<% end %>
<div class='clearfix'>
  <%= link_to icon_text('fa-plus', 'New schedule'),
      new_app_blueprint_schedules_path(app_id: @app.name),
      remote: true, class: 'btn btn-default pull-right' %>
</div>



<% if false %>

<% if f.object.type = 'action' %>
  <%= f.input :namespace, disabled: true %>
  <%= f.input :namespace, as: :hidden %>
  <%= f.input :type_path, disabled: true %>
  <%= f.input :type_path, as: :hidden %>
  <% if f.object.service_definition_consumer_params_mismatch %>
    <div class='col-sm-12 alert alert-danger error app_blueprint_schedule_error'>
      The parameters specified in this configuration do not match those in the service definition.<br>
      Load parameters from service definition to bring them into sync.
    </div>
  <% end %>
  <% if f.object.service_definition_has_consumer_params || f.object.variables.any? %>
    <%= f.simple_fields_for :variables do |ff| %>
      <div>
        <div class="form-section-heading">
          <%= ff.object.send :name %>
        </div>
        <% if ff.object.variable_definition.present? %>
          <%= ( content_tag :label, ff.object.send(:label), class: 'col-sm-9 col-sm-offset-3' ) %>
          <%= ( content_tag :p, ff.object.send(:comment), class: 'col-sm-9 col-sm-offset-3' ) if ff.object.send(:comment).present? %>
          <%= ff.input :name, as: :hidden %>
          <%= ff.input :value,
                  hint: ( ff.object.send(:hint) if ff.object.send(:hint).present? ),
                  as: ff.object.send(:type),
                  collection: ff.object.send(:collection),
                  placeholder: ff.object.send(:placeholder),
                  title: ff.object.send(:title),
                  wrapper: ( :horizontal_boolean if ff.object.send(:type).to_sym == :boolean ) %>
          <%= ff.input :resolve_string,
                  label: :Resolve,
                  placeholder: "_Engines_System(), _Engines_Builder() or _Engines_Environment()",
                  pattern: '^.*(_Engines_System|_Engines_Builder|_Engines_Environment)\(.*\).*' %>
          <%= ff.input :resolve,
                  input_html: { class: 'schedule_variable_resolve_checkbox' },
                  as: :boolean,
                  wrapper: :horizontal_boolean %>
        <% else %>
          <span class='error app_blueprint_schedule_error'>
            <%= ff.input :name, as: :hidden %>
            <%= ff.input :value, disabled: true %>
            <div class="col-sm-12 alert alert-danger">
              The service definition does not contain a consumer parameter for <%= ff.object.send(:name) %>.
            </div>
          </span>
        <% end %>
      </div>
    <% end %>
    <br>
    <div class='clearfix'>
      <%= link_to icon_text('fa-refresh', 'Reload parameters from service definition'),
      new_app_blueprint_schedules_variables_builder_path(app_id: @app.name,
                                          id: schedule_id),
        remote: true, class: 'btn btn-default pull-right' %>
    </div>
    <hr>
  <% else %>
  <div class="col-sm-12 alert alert-info">
    No consumer parameters to configure.
  </div>
  <% end %>
<% else %>
  <div class='error app_blueprint_schedule_error'>
    <%= f.input :namespace, disabled: true %>
    <%= f.input :namespace, as: :hidden %>
    <%= f.input :type_path, disabled: true %>
    <%= f.input :type_path, as: :hidden %>
    <div class="col-sm-12 alert alert-danger">
      A service definition for <%= "#{f.object.namespace}/#{f.object.type_path}" %> is not available.
    </div>
  </div>
<% end %>

<% end %>
