<%= custom_form_for @app.blueprint.persistent_files,
      url: app_blueprint_persistent_files_path(app_id: @app.name) do |f| %>
<table class="table">
  <tr><th>Path</th><th width="1"></th></tr>
  <tr><td colspan=2 class="help-block">Relative to /home/ (except when path prefixed with /usr/local/ or /home/ ).</td></tr>
  <%= f.simple_fields_for :persistent_files do |ff| %>
  <tr>
    <%= ff.input :path, required: true, wrapper: :form_table_cell_input %>
    <td>
      <div class='clearfix'>
      <%= link_to icon('fa-trash-o'), app_blueprint_persistent_files_persistent_file_path(app_id: @app.name, id: ff.index), method: :delete, remote: true, class: 'btn btn-default pull-right', data: {confirm: "Are you sure that you want to delete this persistent file?"} %>
      </div>
    </td>
  </tr>
  <% end %>
</table>
<% end %>
<div class='clearfix'>
  <%= link_to icon_text('fa-plus', 'New persistent file'),
    new_app_blueprint_persistent_files_path(app_id: @app.name),
    remote: true, class: 'btn btn-default pull-right' %>
</div>
