<% @service.blueprint.external_repositories.each do |external_repository| %>

  <%= custom_form_for external_repository,
    namespace: "service_blueprint_external_repository_#{external_repository.index}",
    url: service_blueprint_external_repository_path(service_id: @service.name, id: external_repository.index) do |f| %>

    <table class="table form_table">
      <tr class="<%= 'hidden_table_header' if external_repository.index > 0 %>">
        <th>Source</th>
        <th>Key</th>
        <th width="1"></th>
      </tr>

      <tr>
        <%= f.input :source, as: :string, required: true, wrapper: :form_table_cell_input %>
        <%= f.input :key, wrapper: :form_table_cell_input %>
        <td>
          <div class="dropdown">
            <a class="btn btn-custom" data-toggle="dropdown">
              <i class="fa fa-bars"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <%= link_to icon_text('fa-caret-up', 'Move up'),
                  "#",
                  title: 'Move up',
                  id: "service_blueprint_external_repository_#{external_repository.index}_moveup_button_disabled", remote: true,
                  class: "disabled_link",
                  style: ( 'display:none;' unless external_repository.disable_moveup ) %>
                <%= link_to icon_text('fa-caret-up', 'Move up'),
                  service_blueprint_external_repository_moveup_path(service_id: @service.name, external_repository_id: external_repository.index),
                  title: 'Move up',
                  id: "service_blueprint_external_repository_#{external_repository.index}_moveup_button", remote: true,
                  class: "show_saving_spinner_on_click",
                  style: ( 'display:none;' if external_repository.disable_moveup ) %>
              </li>
              <li>
                <%= link_to icon_text('fa-trash-o', 'Delete'),
                  service_blueprint_external_repository_path(service_id: @service.name, id: external_repository.index),
                  method: :delete, remote: true,
                  title: 'Delete',
                  class: 'show_saving_spinner_on_confirmed',
                  data: {confirm: "Are you sure that you want to delete this external repository?"} %>
                </li>
            </ul>
          </div>
        </td>
      </tr>
    </table>
  <% end %>

<% end %>
<div class='clearfix'>
  <%= link_to icon_text('fa-plus', 'New external repository'),
      new_service_blueprint_external_repository_path(service_id: @service.name),
      remote: true, class: 'btn btn-custom pull-right' %>
</div>
