<% @app.blueprint.service_configurations.each_with_id do |service_configuration, service_configuration_id| %>
  <a class="section_item_collapse" data-toggle="collapse" href="#app_blueprint_service_configuration_<%= service_configuration_id %>">
    <legend>Service configuration <%= service_configuration_id + 1 %></legend>
  </a>
  <div class="collapse" id="app_blueprint_service_configuration_<%= service_configuration_id %>">
    <%= render 'apps/blueprints/service_configurations/edit_form', service_configuration: service_configuration, service_configuration_id: service_configuration_id %>
  </div>
<% end %>
<div id="new_service_configuration_form_area" class='clearfix'>
</div>
<%= link_to icon_text('fa-plus', 'New service configuration'),
    new_app_blueprint_service_configuration_path(app_id: @app.name),
    remote: true, class: 'btn btn-default pull-right' %>
