<% if service_configuration.publisher_namespace.blank? %>
  <%= custom_form_for service_configuration,
        namespace: "app_blueprint_service_configuration_#{service_configuration.index}",
        url: app_blueprint_service_configuration_publisher_namespace_path(app_id: @app.name, service_configuration_id: service_configuration.index), method: :post do |f| %>
    <%= f.input :publisher_namespace, label: 'Namespace', as: :select, required: true,
        collection: Settings::ServiceDefinitionNamespace.publisher_namespaces_collection %>
  <% end %>
<% elsif service_configuration.type_path.blank? %>
  <%= custom_form_for service_configuration,
      namespace: "app_blueprint_service_configuration_#{service_configuration.index}",
      url: app_blueprint_service_configuration_type_path_path(app_id: @app.name, service_configuration_id: service_configuration.index), method: :post do |f| %>
    <%= f.input :publisher_namespace, label: 'Namespace', disabled: true %>
    <%= f.input :publisher_namespace, as: :hidden %>
    <%= f.input :type_path, as: :select, required: true,
        collection: Settings::ServiceDefinitionNamespace.
                      type_paths_collection_for(f.object.publisher_namespace) %>
  <% end %>
<% else %>
  <%= custom_form_for service_configuration,
      namespace: "app_blueprint_service_configuration_#{service_configuration.index}",
      url: app_blueprint_service_configuration_path(app_id: @app.name, id: service_configuration.index), method: :patch do |f| %>
    <% if f.object.service_definition.present? %>
      <%= f.input :publisher_namespace, label: 'Namespace', disabled: true %>
      <%= f.input :publisher_namespace, as: :hidden %>
      <%= f.input :type_path, disabled: true %>
      <%= f.input :type_path, as: :hidden %>
      <% if f.object.service_definition_consumer_params_mismatch %>
        <span class='error engine_blueprint_section_custom_error'>
          <div class="clearfix">
            <div class="alert alert-danger">
              The parameters specified in this configuration do not match those in the service definition.<br>
              Reload parameters from service definition to bring them into sync.
            </div>
          </div>
        </span>
      <% end %>
      <% if f.object.service_definition_has_consumer_params || f.object.variables.any? %>
        <%= f.simple_fields_for :variables do |ff| %>
          <div>
            <div class="form-section-heading">
              <%= ff.object.send :to_s %>
            </div>
            <% if ff.object.variable_definition.present? %>
              <%= ff.input :name, as: :hidden %>
              <%= ff.input :value,
                      as: :string,
                      wrapper_html: { class: 'variable_value_input_wrapper' } %>
              <div class="dropdown pull-right">
                <button class="btn btn-custom" type="button" data-toggle="dropdown">
                  Insert
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <% ff.object.resolve_strings_collection.each do |resolve_string| %>
                    <li><div class="btn btn-custom" onclick="copyResolveString(this)"><%= resolve_string %></div></li>
                  <% end %>
                </ul>
              </div>
              <div class="clearfix">
                <div class="btn btn-custom pull-right" data-toggle="collapse" data-target="#app_service_configuration_<%= service_configuration.index %>_input_definition_collapse_<%= ff.object.send(:name) %>"><%= icon_text('fa-info') %></div>
              </div>
              <div id="app_service_configuration_<%= service_configuration.index %>_input_definition_collapse_<%= ff.object.send(:name) %>" class="collapse">
                <%= pretty_print ff.object.variable_definition %>
              </div>
            <% else %>
              <span class='error engine_blueprint_section_custom_error'>
                <%= ff.input :name, as: :hidden %>
                <%= ff.input :value, disabled: true %>
                <div class="clearfix">
                  <div class="alert alert-danger">
                    The service definition does not contain a consumer parameter for <%= ff.object.send(:name) %>.
                  </div>
                </div>
              </span>
            <% end %>
          </div>
        <% end %>
        <br>
        <div class='clearfix'>
          <%= link_to icon_text('fa-refresh', 'Reload parameters from service definition'),
          new_app_blueprint_service_configuration_variables_path(app_id: @app.name,
                                              service_configuration_id: service_configuration.index),
            remote: true, class: 'btn btn-custom pull-right' %>
        </div>
      <% else %>
      <div class="clearfix">
        <div class="alert alert-info">
          No consumer parameters to configure.
        </div>
      </div>
      <% end %>
    <% else %>
      <div class='error engine_blueprint_section_custom_error'>
        <%= f.input :publisher_namespace, label: 'Namespace', disabled: true %>
        <%= f.input :publisher_namespace, as: :hidden %>
        <%= f.input :type_path, disabled: true %>
        <%= f.input :type_path, as: :hidden %>
        <div class="col-sm-12 alert alert-danger">
          A service definition for <%= "#{f.object.publisher_namespace}/#{f.object.type_path}" %> is not available.<br>
          Please add the service definition in <%= link_to icon_text('fa-cog', :Settings), settings_path %>, or delete this service configuration.
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
<hr>
