<a class="section_item_collapse" data-toggle="collapse" href="#app_blueprint_service_configuration_<%= @app.blueprint.service_configurations.all.count - 1 %>">
  <legend>Service configuration <%= @app.blueprint.service_configurations.all.count %></legend>
</a>
<div class="collapse" id="app_blueprint_service_configuration_<%= @app.blueprint.service_configurations.all.count - 1 %>">
<%= custom_form_for @service_configuration,
      namespace: "service_configuration[new]",
      url: app_blueprint_service_configurations_path(app_id: @app.name), method: :post do |f| %>
  <% if f.object.publisher_namespace.blank? %>
    <%= f.input :publisher_namespace, label: 'Namespace', as: :select, required: true,
        collection: Settings::ServiceDefinitionNamespace.publisher_namespaces_collection %>
  <% elsif f.object.type_path.blank? %>
    <%= f.input :publisher_namespace, label: 'Namespace', disabled: true %>
    <%= f.input :publisher_namespace, as: :hidden %>
    <%= f.input :type_path, as: :select, required: true,
        collection: Settings::ServiceDefinitionNamespace.
                      type_paths_collection_for(f.object.publisher_namespace) %>
  <% end %>
<% end %>
</div>
