<%= custom_form_for @app.blueprint.required_modules,
      url: app_blueprint_required_modules_path(app_id: @app.name) do |f| %>
<table class="table">
  <tr><th>Type</th><th>OS package</th><th>Name</th><th width="1"></th></tr>
  <%= f.simple_fields_for :required_modules do |ff| %>
  <tr>
    <%= ff.input :type, as: :select, collection: f.object.type_collection, include_blank: false, required: false, wrapper: :table_cell_input %>
    <%= ff.input :os_package, wrapper: :table_cell_input %>
    <%= ff.input :name, required: true, wrapper: :table_cell_input %>
    <td>
      <div class='clearfix'>
      <%= link_to icon('fa-trash-o'),
      app_blueprint_required_modules_required_module_path(app_id: @app.name, id: ff.index), method: :delete, remote: true, class: 'btn btn-default pull-right', data: {confirm: "Are you sure that you want to delete this required module?"} %>
      </div>
    </td>
  </tr>
  <% end %>
</table>
<% end %>
<div class='clearfix'>
  <%= link_to icon_text('fa-plus', 'New required module'),
    new_app_blueprint_required_modules_path(app_id: @app.name),
    remote: true, class: 'btn btn-default pull-right' %>
</div>
