<%= custom_form_for @app.blueprint.ports,
      url: app_blueprint_ports_path(app_id: @app.name) do |f| %>
<table class="table">
  <tr><th>Port</th><th>External</th><th>Protocol</th><th width="1"></th></tr>
  <%= f.simple_fields_for :ports do |ff| %>
  <tr>
    <%= ff.input :port, as: :integer, required: true, input_html: { min: 0, max: 65535 }, wrapper: :form_table_cell_input %>
    <%= ff.input :external, as: :integer, required: true, input_html: { min: 0, max: 65535 }, wrapper: :form_table_cell_input %>
    <%= ff.input :protocol, as: :select, collection: ff.object.protocol_collection, include_blank: false, required: false, wrapper: :form_table_cell_input %>
    <td>
      <div class='clearfix'>
      <%= link_to icon('fa-trash-o'),
      app_blueprint_ports_port_path(app_id: @app.name, id: ff.index), method: :delete, remote: true, class: 'btn btn-default pull-right', data: {confirm: "Are you sure that you want to delete this port?"} %>
      </div>
    </td>
  </tr>
  <% end %>
</table>
<% end %>
<div class='clearfix'>
  <%= link_to icon_text('fa-plus', 'New port'),
      new_app_blueprint_ports_path(app_id: @app.name),
      remote: true, class: 'btn btn-default pull-right' %>
</div>
