<%= custom_form_for @service.blueprint.scripts,
      namespace: "service_blueprint_scripts",
      url: service_blueprint_scripts_path(service_id: @service.name) do |f| %>
  <%= f.simple_fields_for :start do |ff| %>
    <div class="form-section-heading">Start</div>
    <%= ff.input :language, as: :select, input_html: {class: 'ace-editor-language-select'}, collection: f.object.script_language_collection, include_blank: true, required: false %>
    <%= ff.input :content, as: :code, required: false, input_html: { data: { mode: ff.object.send(:language) } } %>
  <% end %>
  <%= f.simple_fields_for :start_sudo do |ff| %>
    <div class="form-section-heading">Start sudo</div>
    <%= ff.input :language, as: :select, input_html: {class: 'ace-editor-language-select'}, collection: f.object.script_language_collection, include_blank: true, required: false %>
    <%= ff.input :content, as: :code, required: false, input_html: { data: { mode: ff.object.send(:language) } } %>
  <% end %>
  <%= f.simple_fields_for :install do |ff| %>
    <div class="form-section-heading">Install</div>
    <%= ff.input :language, as: :select, input_html: {class: 'ace-editor-language-select'}, collection: f.object.script_language_collection, include_blank: true, required: false %>
    <%= ff.input :content, as: :code, required: false, input_html: { data: { mode: ff.object.send(:language) } } %>
  <% end %>
  <%= f.simple_fields_for :install_sudo do |ff| %>
    <div class="form-section-heading">Install sudo</div>
    <%= ff.input :language, as: :select, input_html: {class: 'ace-editor-language-select'}, collection: f.object.script_language_collection, include_blank: true, required: false %>
    <%= ff.input :content, as: :code, required: false, input_html: { data: { mode: ff.object.send(:language) } } %>
  <% end %>
  <%= f.simple_fields_for :post_install do |ff| %>
    <div class="form-section-heading">Post install</div>
    <%= ff.input :language, as: :select, input_html: {class: 'ace-editor-language-select'}, collection: f.object.script_language_collection, include_blank: true, required: false %>
    <%= ff.input :content, as: :code, required: false, input_html: { data: { mode: ff.object.send(:language) } } %>
  <% end %>
  <%= f.simple_fields_for :post_install_sudo do |ff| %>
    <div class="form-section-heading">Post install sudo</div>
    <%= ff.input :language, as: :select, input_html: {class: 'ace-editor-language-select'}, collection: f.object.script_language_collection, include_blank: true, required: false %>
    <%= ff.input :content, as: :code, required: false, input_html: { data: { mode: ff.object.send(:language) } } %>
  <% end %>
  <%= f.simple_fields_for :first_run do |ff| %>
    <div class="form-section-heading">First run</div>
    <%= ff.input :language, as: :select, input_html: {class: 'ace-editor-language-select'}, collection: f.object.script_language_collection, include_blank: true, required: false %>
    <%= ff.input :content, as: :code, required: false, input_html: { data: { mode: ff.object.send(:language) } } %>
  <% end %>
  <%= f.simple_fields_for :first_run_sudo do |ff| %>
    <div class="form-section-heading">First run sudo</div>
    <%= ff.input :language, as: :select, input_html: {class: 'ace-editor-language-select'}, collection: f.object.script_language_collection, include_blank: true, required: false %>
    <%= ff.input :content, as: :code, required: false, input_html: { data: { mode: ff.object.send(:language) } } %>
  <% end %>
  <%= f.simple_fields_for :backup do |ff| %>
    <div class="form-section-heading">Backup</div>
    <%= ff.input :language, as: :select, input_html: {class: 'ace-editor-language-select'}, collection: f.object.script_language_collection, include_blank: true, required: false %>
    <%= ff.input :content, as: :code, required: false, input_html: { data: { mode: ff.object.send(:language) } } %>
  <% end %>
  <%= f.simple_fields_for :backup_sudo do |ff| %>
    <div class="form-section-heading">Backup sudo</div>
    <%= ff.input :language, as: :select, input_html: {class: 'ace-editor-language-select'}, collection: f.object.script_language_collection, include_blank: true, required: false %>
    <%= ff.input :content, as: :code, required: false, input_html: { data: { mode: ff.object.send(:language) } } %>
  <% end %>
  <%= f.simple_fields_for :restore do |ff| %>
    <div class="form-section-heading">Restore</div>
    <%= ff.input :language, as: :select, input_html: {class: 'ace-editor-language-select'}, collection: f.object.script_language_collection, include_blank: true, required: false %>
    <%= ff.input :content, as: :code, required: false, input_html: { data: { mode: ff.object.send(:language) } } %>
  <% end %>
  <%= f.simple_fields_for :restore_sudo do |ff| %>
    <div class="form-section-heading">Restore sudo</div>
    <%= ff.input :language, as: :select, input_html: {class: 'ace-editor-language-select'}, collection: f.object.script_language_collection, include_blank: true, required: false %>
    <%= ff.input :content, as: :code, required: false, input_html: { data: { mode: ff.object.send(:language) } } %>
  <% end %>
  <%= f.simple_fields_for :shutdown do |ff| %>
    <div class="form-section-heading">Shutdown</div>
    <%= ff.input :language, as: :select, input_html: {class: 'ace-editor-language-select'}, collection: f.object.script_language_collection, include_blank: true, required: false %>
    <%= ff.input :content, as: :code, required: false, input_html: { data: { mode: ff.object.send(:language) } } %>
  <% end %>
  <%= f.simple_fields_for :shutdown_sudo do |ff| %>
    <div class="form-section-heading">Shutdown sudo</div>
    <%= ff.input :language, as: :select, input_html: {class: 'ace-editor-language-select'}, collection: f.object.script_language_collection, include_blank: true, required: false %>
    <%= ff.input :content, as: :code, required: false, input_html: { data: { mode: ff.object.send(:language) } } %>
  <% end %>
<% end %>
