<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Engines Developer Studio
    </title>

    <%= csrf_meta_tags %>

    <%= render 'layouts/favicon' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap: ensure proper rendering and touch zooming.
        maaximum-scale and user-scalable added because on iOS page was zooming in too far when modals loaded. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Allow install of client on apple devices  -->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- <script src="http://cdn.jsdelivr.net/ace/1.1.01/min/ace.js" type="text/javascript" charset="utf-8"></script> -->
    <%= ace_editor_template + simplemde_editor_template %>

  </head>

  <body>
    <div id="saving-alert" class="pull-right" style='display: none;'><%= icon_text 'fa-spinner fa-spin', 'Saving' %></div>
    <%= render 'layouts/navbar' %>
    <%= flash_messages %>
    <%= content_tag :div, id: :page, class: 'container' do %>
    <%= yield %>
    <% end %>
    <% #= console if Rails.env.development? %>

</body>

</html>
